<div class="card-body">
  <h5 class="card-title mb-3">{{ movie?.title }}</h5>
  <picture>
    <source
      srcset="{{ API_IMG_URL }}{{ movie?.poster_path }}"
      type="image/jpg"
    />
    <img
      class="img-fluid img-thumbnail"
      alt="Media Card Image"
      src="{{ API_IMG_URL }}{{ movie?.poster_path }}"
    />
  </picture>
  <h6 class="card-subtitle card-subtitle-max my-2 text-muted">
    {{ movie?.overview }}
  </h6>
  <div class="card-text">
    <h5>Release date: {{ movie?.release_date | date : "dd/MM/yyyy" }}</h5>
  </div>
</div>
