<div class="card-body">
  <h5 class="card-title mb-3">{{ media?.title }}</h5>
  <picture>
    <source
      srcset="{{ API_IMG_URL }}{{ media?.poster_path }}"
      type="image/jpg"
    />
    <img
      class="img-fluid img-thumbnail"
      alt="Media Card Image"
      src="{{ API_IMG_URL }}{{ media?.poster_path }}"
    />
  </picture>
  <h6 class="card-subtitle card-subtitle-max my-2 text-muted">
    {{ media?.overview }}
  </h6>
  <div class="card-text">
    @if (media?.release_date) {
      <h5>Release date: {{ media?.release_date | date : "dd/MM/yyyy" }}</h5>
    }
  </div>
</div>
